@import url("https://use.typekit.net/emk7jfr.css");

#top {
	font-family: museo, serif;
	font-weight: 900;
	font-size: 45px;

}

body{
	font-family: museo, serif;
	font-weight: 300;
	font-size: 20px;

}


