/* screen - q3 */

.q3 {
  align-items: flex-start;
  background-color: var(--pampas);
  display: flex;
  height: 982px;
  overflow: hidden;
  width: 1512px;
}

.q3 .overlap-group3 {
  height: 2170px;
  margin-left: -128px;
  margin-top: -610.18px;
  position: relative;
  width: 2145px;
}

.q3 .x4 {
  height: 664px;
  left: 128px;
  object-fit: cover;
  position: absolute;
  top: 1125px;
  width: 556px;
}

.q3 .overlap-group {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 57px;
  display: flex;
  height: 326px;
  justify-content: flex-end;
  left: 958px;
  min-width: 618px;
  padding: 40.6px 13px;
  position: absolute;
  top: 1101px;
}

.q3 .lr-yeah-thats-a-v {
  letter-spacing: 0;
  min-height: 242px;
  width: 579px;
}

.q3 .x2 {
  height: 2170px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 2145px;
}

.q3 .arrow-2 {
  cursor: pointer;
  height: 23px;
  left: 204px;
  position: absolute;
  top: 1509px;
  width: 53px;
}

.q3 .arrow-2-1 {
  cursor: pointer;
  height: 24px;
  left: 1512px;
  position: absolute;
  top: 1508px;
  width: 52px;
}

.q3 .group-2 {
  cursor: pointer;
  height: 13px;
  left: 173px;
  position: absolute;
  top: 652px;
  width: 82px;
}

.q3 .line-3 {
  height: 778px;
  left: 881px;
  position: absolute;
  top: 713px;
  width: 4px;
}

.q3 .component-3 {
  align-items: center;
  display: flex;
  height: 49px;
  left: 197px;
  min-width: 711px;
  position: absolute;
  top: 699px;
}

.q3 .ellipse-3 {
  height: 49px;
  width: 49px;
}

.q3 .what-is-your-dream-job-now {
  letter-spacing: 0;
  margin-left: 15px;
  margin-top: 4.0px;
  min-height: 33px;
  width: 647px;
}

.q3 .overlap-group1 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 57px;
  display: flex;
  height: 379px;
  justify-content: flex-end;
  left: 205px;
  min-width: 618px;
  padding: 47px 13px;
  position: absolute;
  top: 922px;
}

.q3 .rw-i-thought-about {
  letter-spacing: 0;
  min-height: 281px;
  width: 579px;
}

.q3 .overlap-group2 {
  height: 120px;
  left: 205px;
  position: absolute;
  top: 762px;
  width: 420px;
}

.q3 .rectangle-2 {
  background-color: var(--white);
  border-radius: 57px;
  height: 94px;
  left: 0;
  position: absolute;
  top: 26px;
  width: 420px;
}

.q3 .lr-not-to-like-dre {
  left: 36px;
  letter-spacing: 0;
  position: absolute;
  top: 51px;
  width: 375px;
}

.q3 .x1 {
  height: 51px;
  left: 56px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 283px;
}

.q3 .x5 {
  height: 556px;
  left: 1164px;
  object-fit: cover;
  position: absolute;
  top: 604px;
  width: 552px;
}
